<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("University System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    @if (User.IsInRole("Student") || User.IsInRole("Teacher") || User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/Courses/all">All Courses</a></li>
                                @if (User.IsInRole("Teacher"))
                                {
                                    <li class="dropdown-header">Lecturer's panel</li>
                                    <li><a href="/Courses/create">Create course</a></li>
                                    <li><a href="/Lecturer/Courses">My courses</a></li>
                                    @*<li><a href="/Lecturer/Profile">My profile</a></li>*@
                                }
                            </ul>
                        </li>
                        if (User.IsInRole("Teacher"))
                        {
                            <li>@Html.ActionLink("My profile", "Profile", "Lecturer")</li>
                        }
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/roles/manage">Manage roles</a></li>
                                <li><a href="/roles/details">All users' roles</a></li>
                            </ul>
                        </li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @if (TempData["message"] != null)
        {
            <br />
            if (TempData["type"].ToString() == UniversitySystem.Web.Models.NotificationType.Success.ToString())
            {
                <div class="alert alert-dismissable alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Well done!</strong> @TempData["message"]
                </div>
            }
            if (TempData["type"].ToString() == UniversitySystem.Web.Models.NotificationType.Error.ToString())
            {
                <div class="alert alert-dismissable alert-danger">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Error!</strong> @TempData["message"]
                </div>
            }
            if (TempData["type"].ToString() == UniversitySystem.Web.Models.NotificationType.Warning.ToString())
            {
                <div class="alert alert-dismissable alert-warning">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    <strong>Warning!</strong> @TempData["message"]
                </div>
            }
        }
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
